@{
    Layout = "../Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Categories";
}


<div class="container">
    <main role="main" class="pb-3">

        <h1>@ViewData["Title"]</h1>
        <p>Categories Page</p>
        
    </main>
</div>