@{
    Layout = "../Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Courses";
}

        

<div class="container">
    <main role="main" class="pb-3">

        <h1>@ViewData["Title"]</h1>
        <p>Course Page</p>
        <p>@Model</p>
        
    </main>
</div>