@model List<webapp.Models.Course>

@{
    Layout = "../Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "HealthAndFitness";
}

<div class="container">
    <main role="main" class="pb-3">
        <center><h1 class="text-primary">HealthAndFitness</h1></center>
        @foreach (var item in Model)
            {
                <partial name="devPartialView" model="item"/>
            }
    </main>
</div>