@{
    Layout = "../Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "PhotographyAndVideo";
}

<div class="container">
    <main role="main" class="pb-3">
        <center><h1 class="text-primary">PhotographyAndVideo</h1></center>
        
    </main>
</div>