

@{
    Layout = "../Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "TeachingAndAcademic";
}

<div class="container">
    <main role="main" class="pb-3">
        <center><h1 class="text-primary">TeachingAndAcademic</h1></center>

    </main>
</div>