
<div class="col-lg-3">
    <div class="card card-block" id="catcard">
        <img class="card-img-top"
            src="@Url.Content(@ViewBag.path)"
            alt="Card image cap">
        <div class="card-block p-3">
            <h4 class="card-title">@ViewBag.name</h4>
            <p class="card-text">@ViewBag.description</p>
            <a href="#" class="btn btn-primary">Watch courses</a>
        </div>
    </div>
</div>
